* {
   color: #212121;
}

.titulo {
   font-size: 30px;
   font-family: Helvetica Neue;
   font-weight: 900;
   text-align: center;
   text-transform: uppercase;
   color: #d2010d;
}

.seccionQR {
   width: min-content;
   padding: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   background: #d2010d;
   position: absolute;
   right: 90px;
   top: 67px;
}

.seccionQR h3 {
   margin-top: 0px;
   margin-bottom: 3px;
   font-size: 15px;
   color: #fff;
   font-weight: 900;
}

.seccionQR img {
   width: 10vw;
   padding: 8px;
   border-radius: 8px;
   background: #fff;
}

.informacion {
   margin: 16px 0 16px 16px;
}

.item-info {
   display: flex;
   align-items: center;
   margin-bottom: 8px;
}

.item-info p {
   margin: 0;
   padding: 4px 8px;
   background: #eeeeee;
   border-radius: 8px;
   font-size: 12px;
   text-transform: uppercase;
}

.item-info .item-titulo {
   width: 90px;
   font-weight: 900;
}

.item-info p.infoVariable {
   margin-left: 8px;
   width: 300px;
}

.seccion {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.listaProductos {
   height: 40vh;
   display: flex;
   flex-wrap: wrap;
}

.titulo-listaProductos {
   margin: 0px;
   font-weight: 900;
   color: #d2010d;
   text-transform: uppercase;
   text-align: center;
}

.productos {
   width: 44vw;
   margin: 4px;
   padding: 8px;
   display: flex;
   align-items: center;
   border: 2px solid #eeeeee;
   border-radius: 8px;
}

.productos .imagen-productos {
   width: 15vw;
}

.productos .imagen-productos img.imagenProducto {
   width: 100%;
}

.productos .informacion-productos {
   width: 30vw;
   margin-left: 16px;
}

.productos .informacion-productos .titulo-informacion {
   margin: 0px 0px 8px;
   font-size: 15px;
   font-weight: 900;
   color: #d2010d;
   text-transform: uppercase;
   text-align: left;
}

.productos .informacion-productos .descripcion-informacion {
   margin: 0px;
   padding: 0 8px;
   font-size: 10px;
   text-align: justify;
}

.recomendaciones {
   margin: 0;
   padding: 8px 16px;
   border: 2px solid #eeeeee;
   border-radius: 8px;
}

.recomendaciones h3.titulo-recomendaciones {
   margin: 0;
   color: #d2010d;
   font-weight: 900;
}

.recomendaciones p.texto-recomendaciones {
   margin: 0;
   text-align: justify;
}

.seccionDoctor {
   width: 30vw;
}

.seccionDoctor .firma-doctor,
.seccionDoctor .sello-doctor {
   width: 14vw;
}

.seccionDoctor .firma-doctor img,
.seccionDoctor .sello-doctor img {
   width: 100%;
}

.seccionDoctor .separador-doctor {
   width: 100%;
}

.seccionDoctor .nombre-doctor {
   margin: 0px;
   font-weight: 900;
}

.seccionDoctor .cedula-doctor {
   margin: 0px;
   font-size: 10px;
}

.sugerencia p {
   position: absolute;
   bottom: -8px;
   text-align: center;
}


/* 
seccionDoctor
firma-doctor
sello-doctor
separador-doctor
nombre-doctor
cedula-doctor */